[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = https://github.com/knadh/hugo-ink
[submodule "public"]
	path = public
	url = ./public
	branch = git@github.com:vikketii/vikketii.github.io.git
